<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="jumbotron" [ngSwitch]="loggedUser">
        <p *ngSwitchCase="undefined">Please login</p>
        <input *ngSwitchCase="undefined" [(ngModel)]="userName" class="form-control mr-sm-2" type="search" placeholder="username" aria-label="Search"> <br>
        <button *ngSwitchCase="undefined" class="btn btn-success my-2 my-sm-0" (click)="logIn()">Login</button>
        <p *ngSwitchCase="'Rajib'">Log out!</p>
        <button *ngSwitchCase="'Rajib'" class="btn btn-danger my-2 my-sm-0" (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>
</div>
